

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* SEÇÃO PADRONIZADAS */
.frase{
    width: 450px;
    height: inherit;
    margin-left: 140px;
    float: left;
}

p{
    width: 430px;
    height: 50px;
    font-family: sans-serif;
    font-size: 0.9em;
    margin-left:20px;
    margin-top:50px;
}

h1{
    width: 100%;
    height: 40px;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    word-spacing: 5px;
    padding-top: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}

h1::first-letter{
    font-size: 1.5em;
    color: red;
}

a{
    text-decoration: none;
    color: black;
}

/* SEÇÃO DO LOGO */
figure{
    width: 150px;
    height: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-image: url(../imagens/logo2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    float: left;
}

#containerFrase{
    width: 200px;
    height: 100px;
}

/* SEÇÃO DO MENU */
#containerMenu{
    width: 100%;
    height: 75px;
    background-color: aliceblue;
    position: fixed;
    z-index: 999;
}

#menu{
    width: 1200px;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
}

nav{
    width: inherit;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
}

#listMenu{
    width: inherit;
    height: inherit;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
}

.itemMenu{
    width: 175px;
    height: 45px;
    list-style: none;
    float: left;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.0em;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 30px;
}

.itemMenu:hover{
    background-color: rgba(97,176,224);
    color: white;
    cursor: pointer;
    transition: .5s;
}


/* SEÇÃO SLOGAN */
#slogan{
    width: 100%;
    height: 500px;
    background-image: url(../imagens/slogan.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* Seção de noticias recentes */
#containerNoticias{
    width: 1200px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

#caixaNoticiaMaior{
    width: 500px;
    height: 630px;
    margin-left: 30px;
    float: left;
}

#caixaNoticiaMaior p{
    width: 450px;
    height: 500px;
    font-size: 1.0em;

}

.containerCaixaNoticia{
    width: 650px;
    height: 260;
    margin-top: 50px;
    margin-left: 550px;
}

.caixaNoticia{
    width: 250px;
    height: 200px;
    background-image: url(../imagens/igorjpg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.textoNoticia{
    width: 400px;
    height: 200px;
    margin-left: 5px;
    margin-top: -200px;
    float: right;
}

.textoNoticia p{
    width: 400px;
    height: 200px;
    margin-top: 20px;
    margin-left: 5px;
} 

.containerCaixaNoticiaSegunda{
    width: 650px;
    height: 260;
    margin-top: 50px;
    margin-left: 550px;
}

.caixaNoticiaSegunda{
    width: 250px;
    height: 250px;
    background-image:url(../imagens/crush.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.textoNoticiaSegunda{
    width: 400px;
    height: 200px;
    margin-left: 5px;
    margin-top: -235px;
    float: right;
}

.textoNoticiaSegunda p{
    width: 380px;
    height: 200px;
    font-family: sans-serif;
    font-size: 0.9em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    
}

.subTextosegunda{
    width: inherit;
    height: 105;
    font-family: sans-serif;
    font-size: 0.9em;
}

/* Seção Noticias */
#containerNoticiasPassadas{
    width: 1200px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

#containerNoticiasRight{
    width: 640px;
    height: 640px;
    float: left;
}

#containerNoticiaLeft{
    width: 540px;
    height: 640px;
    margin-left: 640px;
}

.containerCaixaNoticias{
    width: 510px;
    height: 200px;
    margin-top: 10px;
    margin-left: 50px;
}

.containerCaixaNoticias h1{
    font-size: 0.9em; 
    margin-top: -10px;
}

.containerCaixaNoticias p{
    margin-top: 15px;
}


.containerCaixaNoticias2{
    width: 510px;
    height: 200px;
    margin-top: 10px;
    margin-left: 50px;
}



.containerCaixaNoticias2 h1{
    font-size: 0.9em; 
    margin-top:80px;
}

.containerCaixaNoticias2 p{
    margin-top: 50px;
}



.primeiraLinha{
    width: 500px;
    height: 235px;
    margin-left: 20px;
    margin-top: 5px;
    background-image: url(../imagens/jovem.png);
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    
}

.segundaLinha{
    width: 500px;
    height: 235px;
    margin-left: 20px;
    margin-top: 50px;
    background-image: url(../imagens/lgbt.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    
}

/* SEÇÃO DE PARADAS */
#containerParadas{
    width: 1200px;
    height: 570px;
    margin-left: auto;
    margin-right: auto;
}

.containerCaixasParadas{
    width: 570px;
    height: 500px;
    margin-left: 10px;
    float: left;
}

.containerCaixaParadas{
    width: 510px;
    height: 200px;
    background-image: url(../imagens/paradagay.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-left: 25px;
}

.containerCaixaParadas2{
    width: 510px;
    height: 200px;
    background-image: url(../imagens/parada-gay-amsterdam.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-left: 25px;
}



/* SEÇÃO DE PONTOS TURISTICOS */
#containerPontosTuristicos{
    width: 1200px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.conteudo{
    width: 250px;
    height: 300px;
    background-image: url(../imagens/sp.jpg);
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 40px;
    float: left;
    border-radius: 5px 20px 0px 0px;
    box-shadow: 10px 10px 10px #000000;
}

.conteudo2{
    width: 250px;
    height: 300px;
    background-image: url(../imagens/rj.jpg);
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 40px;
    float: left;
    border-radius: 5px 20px 0px 0px;
    box-shadow: 10px 10px 10px #000000;
}

.conteudo3{
    width: 250px;
    height: 300px;
    background-image: url(../imagens/nz.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    margin-left: 40px;
    float: left;
    border-radius: 5px 20px 0px 0px;
    box-shadow: 10px 10px 10px #000000;
}

.conteudo4{
    width: 250px;
    height: 300px;
    background-image: url(../imagens/tr.jpg);
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: 40px;
    float: left;
    border-radius: 5px 20px 0px 0px;
    box-shadow: 10px 10px 10px #000000;
}


/*Loja Online*/

#containerLojaOnline{
    width: 1200px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.conteudoCamiseta{
    width: 250px;
    height: 300px;
    background-image: url(../imagens/camiseta.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5px;
    margin-left: 40px;
    float: left;
    border-radius: 5px 20px 0px 0px;
    box-shadow: 10px 10px 10px #000000;
}

.conteudoCamiseta h1{
    margin-top: 215px;
    font-size: 1.1em;
}

.conteudoCamiseta p{
    font-size: 1.1em;
    margin-top: -8px;
}
 .conteudoCamiseta h1::first-letter{
    color: black;
}
.conteudoTenis{
    width: 250px;
    height: 300px;
    background-image: url(../imagens/teniis.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5px;
    margin-left: 40px;
    float: left;
    border-radius: 5px 20px 0px 0px;
    box-shadow: 10px 10px 10px #000000;
}


.conteudoTenis h1{
    margin-top: 215px;
    font-size: 1.1em;
}

.conteudoTenis p{
    font-size: 1.1em;
    margin-top: -8px;
}

 .conteudoTenis h1::first-letter{
    color: black;
}
.conteudoPulseira{
    width: 250px;
    height: 300px;
    background-image: url(../imagens/pulseira.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5px;
    margin-left: 40px;
    float: left;
    border-radius: 5px 20px 0px 0px;
    box-shadow: 10px 10px 10px #000000;
}

.conteudoPulseira h1{
    margin-top: 215px;
    font-size: 1.1em;
}

.conteudoPulseira p{
    font-size: 1.1em;
    margin-top: -8px;
}

.conteudoPulseira h1::first-letter{
    color: black;
}


.conteudoCamisa{
    width: 250px;
    height: 300px;
    background-image: url(../imagens/camisa.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5px;
    margin-left: 40px;
    float: left;
    border-radius: 5px 20px 0px 0px;
    box-shadow: 10px 10px 10px #000000;
}

.conteudoCamisa h1{
    margin-top: 218px;
    font-size: 1.1em;
}

.conteudoCamisa p{
    font-size: 1.1em;
    margin-top: -8px;
}

.conteudoCamisa h1::first-letter{
    color: black;
}


/* SEÇÃO DA COMUNIDADE */
#containerComunidadeLGBT{
    width: 1200px;
    height: 570px;
    margin-left: auto;
    margin-right: auto;
}

#containerComunidade{
    width: 750px;
    height: inherit;
    float: left;
}

.comunidade{
    width: 230px;
    height: 210px;
    float: left;
    margin-left: 15px;
}

#containerComunidade2{
    width: 750px;
    height: 210px;
    margin-top: 10px;
    float: left;
}

.comunidade2{
    width: 230px;
    height: 210px;
    float: left;
    margin-left: 15px;
}

.fotoComunidadeLucas{
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../imagens/lucas.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 4px 4px 4px #a7a6a6;
}

.fotoComunidadeCarlinhos{
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../imagens/carlinhos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 4px 4px 4px #a7a6a6;
}

.fotoComunidadeCristiane{
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../imagens/cris.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 4px 4px 4px #a7a6a6;
}

.fotoComunidadeAlvaro{
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../imagens/alvaro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 4px 4px 4px #a7a6a6;
}

.fotoComunidadeMarcela{
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../imagens/marcela.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 4px 4px 4px #a7a6a6;
}


.fotoComunidadeMaellen{
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../imagens/maellen.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 4px 4px 4px #a7a6a6;
}

.informacaoComunidade{
    width: inherit;
    height: 70px;
}

#lista{
    width: 130px;
    height: 120px;
}

.item{
    list-style: none;
    font-size: 0.9em;
    font-family: sans-serif;
}
/* SEÇÃO DE DICAS */

#containerDicas{
    width: 450px;
    height: inherit;
    
    float: left;
}

#containerCaixaDicas{
    width: 290px;
    height: 90px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}


.containerFotoJuliana{
    width: 90px;
    height: 85px;
    background-image: url(../imagens/juliana.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 4px 4px 4px #a7a6a6;
    float: left;
}

.containerFotoMarcela{
    width: 90px;
    height: 85px;
    background-image: url(../imagens/marcelaBBB.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 4px 4px 4px #a7a6a6;
    float: left;
}


.containerFotoVanessa{
    width: 90px;
    height: 85px;
    background-image: url(../imagens/vanessa.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 4px 4px 4px #a7a6a6;
    float: left;
}

.containerFotoCarlos{
    width: 90px;
    height: 85px;
    background-image: url(../imagens/carlinhos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 4px 4px 4px #a7a6a6;
    float: left;
}

.containerInformacao{
    width: 190px;
    height: 75px;
    background-color:aliceblue;
    margin-left: 95px;
    padding-top: 10px;
}

.informacaoDicas p {
    font-size: 1.2em;;
    margin-top: 15px;
}

.informacaoDicasVanessa p {
    font-size: 1.2em;;
    margin-top: 15px;
    margin-left: 8px;
}

/* SEÇÃO DO RODAPÉ */
footer{
    width: 100%;
    height: 50px;
    background-color:aliceblue;
}

#rodape{
    width: 1200px;
    height: inherit;
    background-color:aliceblue;
    margin-left: auto;
    margin-right: auto;
}

#rodape p{
    width: 270px;
    height: 25px;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
    margin-top: 0px;
    margin-left: 480px;
    padding-top: 20px;
}
